inst/doc
.Rproj.user
.Rhistory
illcdiss_guide/
questions_defense/
revisions/
figures/
arXiv_V1/
*.sty
*.eps
*.aux
*.ico
*.bbl
*.blg
*.idx
*.ilg
*.ind
*.log
*.out
*.synctex
*.toc
abstract/
licence_agreement/

